[2015-04-28 15:00] nelsonic opened #1 "Example "App" using S3, API Gateway, Lambda & DynamoDB"
Need an example that uses Lambda Functions... anyone have time?

[2015-08-17 09:52] nelsonic opened #2 "Serverless (Framework)"
Should we investigate using JAWS?
https://github.com/jaws-stack/JAWS
Possibly even write a sample application using the stack?

[2015-12-31 18:52] nelsonic opened #3 "Switch "Old" Way section from Nodejitsu to Modulus"
In light of the fact that Nodejitsu sold to [GoDaddy](https://blog.nodejitsu.com/nodejitsu-joins-godaddy)
we need to changed the reference to https://modulus.io/
see: https://github.com/dwyl/learn-aws-lambda/tree/11c742a9cb8540f8a14158032aa8d8d0693c7090#heroku--nodejitsu

[2016-01-22 11:05] nelsonic commented on #2
JAWS >> Serverless
https://github.com/serverless/serverless
http://docs.serverless.com/v0.1.0/docs

But people should only _consider_ using serverless once they have deployed a _simple_ Lambda script.

[2016-01-22 12:34] nelsonic opened #4 "Good Resources when Learning Lambda"
- Good overview if you have an _existing_ "_Monolithic_" application and want to migrate to using Lambda-based Microservices: https://medium.com/@tombray/from-monolith-to-microservices-part-1-aws-lambda-and-api-gateway-8ce5cf3f0d99
- Getting started with Lambda with Node.js: https://medium.com/@tombray/getting-started-with-aws-lambda-node-js-904bc0bfb83
- API Gateway getting started guide: http://

[2016-01-22 12:34] nelsonic opened #5 "Hello World Example?"
What is the AWS Lambda `Hello World` ?

[2016-01-22 14:56] jackcarlisle commented on #5
I'll start to put together a Hello World example

[2016-01-23 11:03] jackcarlisle commented on #5
<img width="935" alt="screen shot 2016-01-23 at 11 01 45" src="https://cloud.githubusercontent.com/assets/12450298/12529878/e9c55334-c1c0-11e5-9a90-56b296d5b3fb.png">

[2016-01-23 11:18] jackcarlisle commented on #5
<img width="921" alt="screen shot 2016-01-23 at 11 18 14" src="https://cloud.githubusercontent.com/assets/12450298/12529907/061d8e28-c1c3-11e5-9509-24cd1548417d.png">

[2016-01-23 11:31] jackcarlisle commented on #5
<img width="917" alt="screen shot 2016-01-23 at 11 31 06" src="https://cloud.githubusercontent.com/assets/12450298/12529957/dace98fa-c1c4-11e5-9df3-a6709cddcdab.png">

[2016-01-23 11:59] jackcarlisle commented on #5
<img width="1662" alt="screen shot 2016-01-23 at 11 58 04" src="https://cloud.githubusercontent.com/assets/12450298/12530052/a8e296b2-c1c8-11e5-9ef1-4d19367a4980.png">

[2016-01-23 12:07] jackcarlisle commented on #5
<img width="848" alt="screen shot 2016-01-23 at 12 05 22" src="https://cloud.githubusercontent.com/assets/12450298/12530077/e1a703d8-c1c9-11e5-97f8-00cdf390bcdc.png">

[2016-01-23 12:26] jackcarlisle commented on #5
<img width="1663" alt="screen shot 2016-01-23 at 12 21 35" src="https://cloud.githubusercontent.com/assets/12450298/12530135/1a62941a-c1cc-11e5-87d8-d8077bd599ce.png">

[2016-01-23 12:40] jackcarlisle commented on #5
@nelsonic I've finished the Hello World example but I don't have access to the repo to make a pull request

[2016-01-23 16:05] jackcarlisle commented on #5
@nelsonic Are my screenshots ok in terms of sensitive data? I wasn't sure if there was anything I should be obscuring for example request IDs or my ARN?

[2016-01-23 18:46] jackcarlisle opened #8 ".zip file upload example?"

[2016-01-24 15:50] jackcarlisle commented on #8
<img width="937" alt="screen shot 2016-01-24 at 15 11 27" src="https://cloud.githubusercontent.com/assets/12450298/12537249/181e2fac-c2b2-11e5-9363-68d7505c4651.png">

[2016-01-24 15:53] jackcarlisle commented on #8
<img width="661" alt="screen shot 2016-01-24 at 12 38 05" src="https://cloud.githubusercontent.com/assets/12450298/12537265/9fc520dc-c2b2-11e5-88df-cf53dccb59dd.png">

[2016-01-24 15:55] jackcarlisle commented on #8
<img width="613" alt="screen shot 2016-01-24 at 15 55 13" src="https://cloud.githubusercontent.com/assets/12450298/12537272/dd7a7120-c2b2-11e5-84d9-40a10a3d2ef0.png">

[2016-01-24 16:21] jackcarlisle commented on #8
<img width="934" alt="screen shot 2016-01-24 at 16 20 38" src="https://cloud.githubusercontent.com/assets/12450298/12537413/7374470c-c2b6-11e5-8e3a-9baaa99c06aa.png">

[2016-01-24 16:29] jackcarlisle commented on #8
<img width="925" alt="screen shot 2016-01-24 at 16 27 43" src="https://cloud.githubusercontent.com/assets/12450298/12537454/acee35b4-c2b7-11e5-99ba-3304394f3d18.png">

[2016-01-24 16:36] jackcarlisle commented on #8
<img width="1655" alt="screen shot 2016-01-24 at 16 36 11" src="https://cloud.githubusercontent.com/assets/12450298/12537495/94d2171a-c2b8-11e5-861e-9225d3b17f28.png">

[2016-01-24 17:25] jackcarlisle opened #10 "Should we include an API Gateway example?"

[2016-01-25 13:06] jackcarlisle commented on #10
<img width="1668" alt="screen shot 2016-01-25 at 13 06 06" src="https://cloud.githubusercontent.com/assets/12450298/12551718/6427822e-c364-11e5-9bda-5138e241e72a.png">

[2016-01-25 13:11] jackcarlisle commented on #10
<img width="853" alt="screen shot 2016-01-25 at 13 10 33" src="https://cloud.githubusercontent.com/assets/12450298/12551817/234565ae-c365-11e5-8afe-64d186c22cbe.png">

[2016-01-25 13:38] jackcarlisle commented on #10
<img width="1667" alt="screen shot 2016-01-25 at 13 38 23" src="https://cloud.githubusercontent.com/assets/12450298/12552302/e89c468a-c368-11e5-97a1-4e7bd6d8b718.png">

[2016-01-25 14:20] jackcarlisle commented on #10
<img width="1669" alt="screen shot 2016-01-25 at 14 16 20" src="https://cloud.githubusercontent.com/assets/12450298/12553323/b4e4db76-c36e-11e5-8de0-8dc8f42aace4.png">

[2016-01-25 14:23] jackcarlisle commented on #10
<img width="1658" alt="screen shot 2016-01-25 at 14 21 37" src="https://cloud.githubusercontent.com/assets/12450298/12553412/2a88d8d2-c36f-11e5-9786-27472b186c7f.png">

[2016-01-25 14:28] jackcarlisle commented on #10
<img width="1657" alt="screen shot 2016-01-25 at 14 28 24" src="https://cloud.githubusercontent.com/assets/12450298/12553516/e9a8e220-c36f-11e5-958e-4f3f052ae252.png">

[2016-01-25 14:59] nikhilaravi opened #13 "Add an example of a Lambda function triggered by a DynamoDB event"

[2016-01-25 16:41] nikhilaravi commented on #13
<img width="1158" alt="screen shot 2016-01-25 at 15 22 55" src="https://cloud.githubusercontent.com/assets/5912647/12557398/7114929c-c382-11e5-9c48-5c2bf15649ac.png">

[2016-01-25 16:43] nikhilaravi commented on #13
<img width="1255" alt="screen shot 2016-01-25 at 17 41 42" src="https://cloud.githubusercontent.com/assets/5912647/12559366/b08d36e0-c38c-11e5-944a-b9da7596ddee.png">

[2016-01-25 16:43] nikhilaravi commented on #13
<img width="1255" alt="screen shot 2016-01-25 at 17 42 22" src="https://cloud.githubusercontent.com/assets/5912647/12559413/edeb637c-c38c-11e5-959e-4fa6388f93dc.png">

[2016-01-25 16:44] nikhilaravi commented on #13
<img width="1161" alt="screen shot 2016-01-25 at 15 46 17" src="https://cloud.githubusercontent.com/assets/5912647/12557478/e3e383be-c382-11e5-9456-81d7504a7e8e.png">

[2016-01-25 16:45] nikhilaravi commented on #13
<img w
<img width="1255" alt="screen shot 2016-01-25 at 17 43 37" src="https://cloud.githubusercontent.com/assets/5912647/12559453/0ff42378-c38d-11e5-9546-698c39429199.png">

[2016-01-25 16:46] nikhilaravi commented on #13
<img width="957" alt="screen shot 2016-01-25 at 15 49 32" src="https://cloud.githubusercontent.com/assets/5912647/12557522/1cb82a5a-c383-11e5-9771-50036f46940e.png">

[2016-01-25 16:48] nikhilaravi commented on #13
<img width="1010" alt="screen shot 2016-01-25 at 15 53 21" src="https://cloud.githubusercontent.com/assets/5912647/12557588/75019368-c383-11e5-9824-f6c6f721f03d.png">

[2016-01-25 16:49] nikhilaravi commented on #13
<img width="1130" alt="screen shot 2016-01-25 at 15 55 13" src="https://cloud.githubusercontent.com/assets/5912647/12557604/8f24704e-c383-11e5-90f5-2dc15723c2c5.png">

[2016-01-25 16:50] nikhilaravi commented on #13
<img width="933" alt="screen shot 2016-01-25 at 16 02 28" src="https://cloud.githubusercontent.com/assets/5912647/12557637/ba8ae330-c383-11e5-8fde-f6912a681f51.png">

[2016-01-25 16:51] nikhilaravi commented on #13
<img width="1252" alt="screen shot 2016-01-25 at 17 51 05" src="https://cloud.githubusercontent.com/assets/5912647/12563887/4cd15e34-c3a4-11e5-8b65-c16a909c3637.png">

[2016-01-25 16:52] nikhilaravi commented on #13
<img width="1256" alt="screen shot 2016-01-25 at 17 51 22" src="https://cloud.githubusercontent.com/assets/5912647/12563894/56dd9852-c3a4-11e5-986a-be381262c536.png">

[2016-01-25 16:53] nikhilaravi commented on #13
<img width="1255" alt="screen shot 2016-01-25 at 17 52 25" src="https://cloud.githubusercontent.com/assets/5912647/12563914/62fb5b38-c3a4-11e5-9830-f87e65a4468b.png">

[2016-01-25 16:54] nikhilaravi commented on #13
<img width="937" alt="screen shot 2016-01-25 at 16 09 29" src="https://cloud.githubusercontent.com/assets/5912647/12557777/55046eea-c384-11e5-9abe-db37615ba2d4.png">

[2016-01-25 16:55] nikhilaravi commented on #13
<img width="1136" alt="screen shot 2016-01-25 at 16 14 41" src="https://cloud.githubusercontent.com/assets/5912647/12557807/7320f4a2-c384-11e5-9fcd-b399285fad92.png">

[2016-01-25 16:56] nikhilaravi commented on #13
<img width="944" alt="screen shot 2016-01-25 at 16 15 54" src="https://cloud.githubusercontent.com/assets/5912647/12557836/996c7b22-c384-11e5-88d8-c7b16c368f25.png">

[2016-01-26 09:42] #3 closed, assigned to nobody

[2016-01-26 09:43] #10 closed, assigned to jackcarlisle

[2016-01-26 10:22] nelsonic opened #16 "How to Unit Test Lambda Functions in Local/CI Environment?"
How are we going to _Unit Test_ the Lambda `handler` to ensure it works as expected?
https://aws.amazon.com/blogs/compute/serverless-testing-with-aws-lambda/ ?
https://medium.com/@AdamRNeary/developing-and-testing-amazon-lambda-functions-e590fac85df4

[2016-01-26 10:38] nikhilaravi commented on #16
I would be keen to research this!

[2016-01-26 10:40] nikhilaravi opened #17 "Write documentation on how to implement versioning and aliases for Lambda functions"
This could be useful for us when we're working with different variations of our Lambda function in the development workflow.
http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html

[2016-01-26 10:57] nelsonic commented on #17
This is _essential_ thanks for looking into it! :+1:

[2016-01-26 10:58] nelsonic commented on #16
Please go for it! :+1:

[2016-01-26 11:51] nikhilaravi opened #18 "Write an example of triggering a Lambda function from an SNS notification"

[2016-01-26 11:52] nikhilaravi commented on #18
<img width="1280" alt="screen shot 2016-01-26 at 10 57 59" src="https://cloud.githubusercontent.com/assets/5912647/12579896/4652ea94-c423-11e5-8a15-e31c3d586405.png">

[2016-01-26 11:52] nikhilaravi commented on #18
<img width="1280" alt="screen shot 2016-01-26 at 10 58 23" src="https://cloud.githubusercontent.com/assets/5912647/12579906/54c371de-c423-11e5-8982-9668384cf90a.png">

[2016-01-26 11:54] nikhilaravi commented on #18
<img width="1280" alt="screen shot 2016-01-26 at 11 10 29" src="https://cloud.githubusercontent.com/assets/5912647/12579931/7d7ce47a-c423-11e5-973c-e0e03e1cf990.png">

[2016-01-26 11:54] nikhilaravi commented on #18
<img width="1280" alt="screen shot 2016-01-26 at 11 18 51" src="https://cloud.githubusercontent.com/assets/5912647/12579947/97b24344-c423-11e5-93b8-f658b8c9db5b.png">

[2016-01-26 11:55] nikhilaravi commented on #18
<img width="1280" alt="screen shot 2016-01-26 at 11 23 46" src="https://cloud.githubusercontent.com/assets/5912647/12579960/a5dd5238-c423-11e5-90df-40b3c88f7e05.png">

[2016-01-26 11:56] nikhilaravi commented on #18
<img width="1280" alt="screen shot 2016-01-26 at 11 25 36" src="https://cloud.githubusercontent.com/assets/5912647/12579968/c3410dec-c423-11e5-9189-3dd68fe7060c.png">

[2016-01-26 11:56] nikhilaravi commented on #18
<img width="1280" alt="screen shot 2016-01-26 at 11 28 02" src="https://cloud.githubusercontent.com/assets/5912647/12579987/db74a798-c423-11e5-94e4-86965a9c8d82.png">

[2016-01-26 11:57] nikhilaravi commented on #18
<img width="1280" alt="screen shot 2016-01-26 at 11 29 34" src="https://cloud.githubusercontent.com/assets/5912647/12579999/ff48d928-c423-11e5-9b02-45b7ecc7b1d4.png">

[2016-01-26 11:58] nikhilaravi commented on #18
<img width="1280" alt="screen shot 2016-01-26 at 11 29 26" src="https://cloud.githubusercontent.com/assets/5912647/12580016/18dc1f76-c424-11e5-8d27-ecd4f1ae68e0.png">

[2016-01-26 12:16] benjaminlees opened #19 "how to do continuous integration with lambda functions"
@nelsonic I would be happy to work with you on a follow up tutorial to cover this issue. there is no good documentation on it.

[2016-01-26 13:16] nelsonic commented on #19
Yes! :boom:

[2016-01-26 13:53] nikhilaravi opened #22 "Investigate possibility of using Web Sockets with SNS and Api Gateway"
A quick google search seems to suggest that this is not possible at the moment

https://forums.aws.amazon.com/thread.jspa?threadID=205761

[2016-01-26 14:03] nelsonic commented on #22
Yeah, makes sense. need to figure out how to stream data back to client in the event of a long-running request e.g. to a 3rd party API...

[2016-01-26 14:04] nikhilaravi commented on #19
@benjaminlees :+1: keen to help with this too! Want to get better at testing!

[2016-01-26 14:53] nikhilaravi commented on #19
@benjaminlees what do you use for CI? I found this tutorial with Jenkins https://aws.amazon.com/blogs/compute/continuous-integration-deployment-for-aws-lambda-functions-with-jenkins-and-grunt-part-2/

[2016-01-26 14:58] nelsonic commented on #19
@nikhilaravi I think @benjaminlees & Co are using https://circleci.com/features/
but we will be using https://codeship.com/features for our builds. :+1:

[2016-01-26 16:08] nelsonic commented on #18
@nikhilaravi this was in your last PR and I've followed your notes and they are _good_. :+1:
Feel free to close this issue if you aren't going to add anything else to the example. :wink:

[2016-01-26 16:09] nelsonic commented on #13
Can we close this?
or are you going to add a more _detailed_ example?

[2016-01-26 16:11] nelsonic opened #23 "Add Example Script to Upload a Lambda Function to S3 and Enable it!"
This one is a bit more involved than our other examples, feel free to _borrow_ code from other projects (_but give credit with a link/comment_). :+1:

[2016-01-26 16:28] nelsonic opened #24 "Lambda Function Versioning and Aliases"
How can we version our Lambda Functions so we can test multiple versions and/or roll-back if the `$LATEST` one is not working?  http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html

[2016-01-26 16:34] nikhilaravi commented on #13
@nelsonic For the moment I'm not planning on adding anything more detailed so I'll close it now!

[2016-01-26 16:34] #13 closed, assigned to nikhilaravi

[2016-01-26 16:35] nikhilaravi commented on #18
@nelsonic sure will do! Need to remember to close issues from my PRs!!

[2016-01-26 16:35] #18 closed, assigned to nikhilaravi

[2016-01-26 16:47] nelsonic commented on #24
dupe of: #17

[2016-01-26 16:47] #24 closed, assigned to nobody

[2016-01-26 16:54] nelsonic commented on #8
this is the _manual_ way of uploading a `.zip` file containing our Lambda Function.
_next_ we need to add an example of uploading a `.zip` to S3 and enable it as a Lambda. see: #23

[2016-01-26 16:54] #8 closed, assigned to jackcarlisle

[2016-01-26 16:55] nelsonic commented on #19
See: https://codeship.com/documentation/continuous-deployment/deployment-to-aws-lambda/

[2016-01-26 17:06] nikhilaravi commented on #19
:+1: nice! :star:

[2016-01-26 17:54] nelsonic commented on #16
@nikhilaravi are you using the `gulpfile.js` from https://medium.com/@AdamRNeary/a-gulp-workflow-for-amazon-lambda-61c2afd723b6 ?

[2016-01-27 09:23] nikhilaravi commented on #16
@nelsonic I read through it yesterday but haven't used it yet.

[2016-01-27 09:45] nelsonic opened #27 "Render HTML in Lambda Response?"
How do we return `html` as the response of a Lambda Function?

[2016-01-27 09:52] nelsonic opened #28 "Access API Gateway Endpoint without Authentication Token?"
When attempting to access the lambda function using the url: https://r09u5uw11g.execute-api.eu-west-1.amazonaws.com/prod/Concatenate
We get:
![access-aws-api-gateway-route-forbidden](https://cloud.githubusercontent.com/assets/194400/12609750/9ca951f4-c4db-11e5-828b-9b62bcab8271.png)

What do w need to do to make this _publicly accessible_?

[2016-01-27 10:14] jackcarlisle commented on #28
@nelsonic I think we need to either re-configure the security of the API endpoint or we need to make the secret key available to anyone who wants to use it.

[2016-01-27 10:55] nelsonic commented on #28
Permission Model: http://docs.aws.amazon.com/lambda/latest/dg/intro-permission-model.html
API Keys: http://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-api-keys.html

test api key: `LhGU6jr5C19QrT8yexCNoaBYeYHy9iwa5ugZlRzm` (_don't worry, I will change this..._)

so we can run the following `cURL` command in terminal:

[code]

![aws-lambda-curl-with-api-key-works](https://cloud.gith

[2016-01-27 11:03] jackcarlisle commented on #28
@nelsonic I was just looking at the permissions model docs in the API Gateway http://docs.aws.amazon.com/apigateway/latest/developerguide/permissions.html
Can you set up the access policy from either Lambda or API Gateway?

[2016-01-27 13:43] nelsonic commented on #28
1. If you aren't already viewing the **API Gateway**, select it from your AWS Console Menu:
   ![aws01-aws-dashboard-select-api-gateway](https://cloud.githubusercontent.com/assets/194400/12614516/66030ff6-c4f8-11e5-9b3c-3aff954051ee.png)
2. Create an API Key in the **Amazon API Gateway** section of the AWS Console:
   ![aws02-api-key-create](https://cloud.githubusercontent.com/assets/194400/126134

[2016-01-27 14:09] #28 closed, assigned to jackcarlisle

[2016-01-27 14:45] nikhilaravi commented on #19
<img width="1472" alt="screen shot 2016-01-27 at 15 01 20" src="https://cloud.githubusercontent.com/assets/5912647/12617272/de1cc1b8-c506-11e5-98e4-1dc8692450e0.png">

[2016-01-27 14:49] nikhilaravi commented on #19
<img width="1469" alt="screen shot 2016-01-27 at 14 47 31" src="https://cloud.githubusercontent.com/assets/5912647/12616879/1815056c-c505-11e5-90b9-81ae434c1ed3.png">

[2016-01-27 14:55] nikhilaravi commented on #19
<img width="1471" alt="screen shot 2016-01-27 at 14 51 57" src="https://cloud.githubusercontent.com/assets/5912647/12617062/f75caa9a-c505-11e5-9ff9-551df7aa8f38.png">

[2016-01-27 14:55] nikhilaravi commented on #19
<img width="1475" alt="screen shot 2016-01-27 at 14 54 01" src="https://cloud.githubusercontent.com/assets/5912647/12617077/07b7bdee-c506-11e5-941f-a35ae14e2bdc.png">

[2016-01-27 14:56] jackcarlisle commented on #23
@nelsonic I'd be quite keen to look into this

[2016-01-27 14:57] nikhilaravi commented on #19
<img width="1474" alt="screen shot 2016-01-27 at 14 56 43" src="https://cloud.githubusercontent.com/assets/5912647/12617139/3a2d249e-c506-11e5-898a-b3f9307e0da2.png">

[2016-01-27 14:57] nelsonic commented on #23
@jackcarlisle please go for it if you're at a natural break in your GraphQL learnings...

[2016-01-27 15:28] nikhilaravi commented on #19
<img width="1474" alt="screen shot 2016-01-27 at 15 28 28" src="https://cloud.githubusercontent.com/assets/5912647/12618166/a88dee74-c50a-11e5-8668-cec9a9430782.png">

[2016-01-27 15:53] nikhilaravi commented on #19
<img width="1471" alt="screen shot 2016-01-27 at 15 50 10" src="https://cloud.githubusercontent.com/assets/5912647/12618996/21f8c876-c50e-11e5-9c5b-668a5c56a3df.png">

[2016-01-27 15:55] nikhilaravi commented on #19
<img width="1470" alt="screen shot 2016-01-27 at 15 54 55" src="https://cloud.githubusercontent.com/assets/5912647/12619073/63294abe-c50e-11e5-9f91-2452078968ef.png">

[2016-01-27 15:56] nikhilaravi commented on #19
<img width="1266" alt="screen shot 2016-01-27 at 13 43 58" src="https://cloud.githubusercontent.com/assets/5912647/12619098/83e071a6-c50e-11e5-8d28-45c8afc19f2e.png">

[2016-01-27 15:58] nikhilaravi commented on #19
<img width="1473" alt="screen shot 2016-01-27 at 15 58 02" src="https://cloud.githubusercontent.com/assets/5912647/12619166/d12aeb30-c50e-11e5-8d36-c3e1f60baef3.png">

[2016-01-27 15:58] nelsonic opened #29 "Migrate Test Example from Tape to Lab"
Hi @nikhilaravi,
the [_example_ tests](https://github.com/dwyl/learn-aws-lambda/blob/b964c8de00ce3f0c766ba362d5c1c4b0f8d8737a/lambda-testing/tests/index.js) you have written are _good_ however we've been informed that the client are using `Lab` for testing so we will need to update them...

[2016-01-27 15:59] nikhilaravi commented on #19
<img width="1473" alt="screen shot 2016-01-27 at 15 59 16" src="https://cloud.githubusercontent.com/assets/5912647/12619195/f92df8b6-c50e-11e5-8c82-fc9c55021a22.png">

[2016-01-27 16:01] nikhilaravi commented on #19
<img width="1472" alt="screen shot 2016-01-27 at 16 00 27" src="https://cloud.githubusercontent.com/assets/5912647/12619261/2ba08fca-c50f-11e5-9c2c-db510e977e65.png">

[2016-01-27 16:04] nikhilaravi commented on #19
<img width="1474" alt="screen shot 2016-01-27 at 16 03 47" src="https://cloud.githubusercontent.com/assets/5912647/12619374/9df7bbb6-c50f-11e5-96de-2b7e1aee366f.png">

[2016-01-27 16:05] nelsonic commented on #29
@nikhilaravi can I do the conversion from Tape to Lab?
(_note: I personally prefer Tape every day of the week..._)

[2016-01-27 16:05] nikhilaravi commented on #19
<img width="1472" alt="screen shot 2016-01-27 at 16 04 57" src="https://cloud.githubusercontent.com/assets/5912647/12619412/cb2df10e-c50f-11e5-8af3-d53c11d4953b.png">

[2016-01-27 16:19] nikhilaravi commented on #29
@nelsonic sure that's fine! I was informed of this too! I'll also have a look at how their tests are written in terms of mocking.

[2016-01-27 16:27] #19 closed, assigned to nikhilaravi

[2016-01-27 16:39] #29 closed, assigned to nobody

[2016-01-27 17:34] nikhilaravi commented on #16
@nelsonic what do you think about extending the [mock-context-object](https://github.com/SamVerschueren/aws-lambda-mock-context) npm module to generate more accurate responses from the context methods.

It doesn't yet account for different invocation types i.e. Event or Request/Response. From the AWS docs about the `context.sucess` function:

[2016-01-27 17:41] nelsonic commented on #16
@nikhilaravi submit this as a question on the project repo and see if you get a response _before_ investing the time in a PR... but if you get a quick response, feel free to extend. We need to check tomorrow if they already have a plan for mocking their Lambda functions...
in light of the chat with P today we might end up using [`simple-mock`](https://github.com/jupiter/simple-mock) in which case

[2016-01-27 17:51] nikhilaravi commented on #16
@nelsonic okay i'll do that now and I was just thinking about how to mock the function invocation similar to the invoke api but a simple-mock-lambda module sounds great.

[2016-01-28 02:38] aaronshaf commented on #27
See: https://medium.com/@devknoll/rendering-react-with-amazon-lambda-e4e85a788257

Key part:

[2016-01-28 10:11] nelsonic commented on #27
Thanks @aaronshaf :+1:
Reading it now. :mag:

[2016-01-28 10:23] nelsonic opened #32 "How do we simulate "Real Time" interaction without WebSockets ?"
WebSockets allow us to stream additional data from/to client/server beyond the limits of http request/response. This has opened a world of Real Time apps.
Given that keeping Lambda functions running for long time will cost a lot (_because we are billed per 100ms_) we need to consider an _alternative_ approach for sending data to the client _after_ the initial page/data is rendered...

**_Polling**

[2016-01-28 10:50] nelsonic opened #33 "Add detail to AWS API Gateway Section"
This is quite good: https://auth0.com/docs/integrations/aws-api-gateway/part-1
part two gets a bit complex using the Auth0 API but part 1 is a good intro to setting up an API with GET/POST which uses a Lambda function to update/retrieve records from DynamoDB.

[2016-01-28 14:20] jackcarlisle commented on #23
<img width="1648" alt="screen shot 2016-01-28 at 14 19 32" src="https://cloud.githubusercontent.com/assets/12450298/12646827/32f97802-c5ca-11e5-84a8-b49e2cd0e929.png">

[2016-01-28 14:22] jackcarlisle commented on #23
<img width="1677" alt="screen shot 2016-01-28 at 14 21 24" src="https://cloud.githubusercontent.com/assets/12450298/12646889/8f342590-c5ca-11e5-8e2f-e2cb2bccf04d.png">

[2016-01-28 14:36] jackcarlisle commented on #23
<img width="1475" alt="screen shot 2016-01-28 at 14 36 22" src="https://cloud.githubusercontent.com/assets/12450298/12647320/7f9fdd52-c5cc-11e5-98d0-dfd68b6a8caf.png">

[2016-01-28 15:08] nelsonic commented on #1
- [x] create basic index.html file on S3.
- [x] create `XHR` method (_including `x-api-key` header_) that triggers UpdateNotes Function on Lambda
- [x] re-render client page once updated

[2016-01-28 15:28] jackcarlisle commented on #23
<img width="1464" alt="screen shot 2016-01-28 at 15 27 08" src="https://cloud.githubusercontent.com/assets/12450298/12648830/b1af1d4c-c5d3-11e5-91af-0d32691b7764.png">

[2016-01-28 15:44] jackcarlisle commented on #23
<img width="1660" alt="screen shot 2016-01-28 at 15 40 40" src="https://cloud.githubusercontent.com/assets/12450298/12649316/06ac3a80-c5d6-11e5-8b05-d624d507a12e.png">

[2016-01-28 15:44] jackcarlisle commented on #23
<img width="1647" alt="screen shot 2016-01-28 at 15 41 40" src="https://cloud.githubusercontent.com/assets/12450298/12649326/11a19a3e-c5d6-11e5-82e3-5136640fdeb4.png">

[2016-01-28 15:45] jackcarlisle commented on #23
<img width="1417" alt="screen shot 2016-01-28 at 15 41 51" src="https://cloud.githubusercontent.com/assets/12450298/12649339/1c916cb2-c5d6-11e5-8109-34f51f860d5a.png">

[2016-01-28 15:45] jackcarlisle commented on #23
<img width="1518" alt="screen shot 2016-01-28 at 15 42 08" src="https://cloud.githubusercontent.com/assets/12450298/12649344/214dc3a4-c5d6-11e5-8a8f-81b20ed9eeac.png">

[2016-01-28 15:51] jackcarlisle commented on #23
<img width="1660" alt="screen shot 2016-01-28 at 15 51 02" src="https://cloud.githubusercontent.com/assets/12450298/12649566/095d28ba-c5d7-11e5-812d-97ea278cb285.png">

[2016-01-28 15:52] jackcarlisle commented on #23
<img width="1647" alt="screen shot 2016-01-28 at 15 51 54" src="https://cloud.githubusercontent.com/assets/12450298/12649574/0f1dbcd8-c5d7-11e5-864e-d9e04b80882f.png">

[2016-01-28 16:02] jackcarlisle commented on #23
<img width="1660" alt="screen shot 2016-01-28 at 16 00 43" src="https://cloud.githubusercontent.com/assets/12450298/12649893/73b3e590-c5d8-11e5-9cec-88bee1ac5c4d.png">

[2016-01-28 16:10] jackcarlisle commented on #23
<img width="1454" alt="screen shot 2016-01-28 at 16 03 26" src="https://cloud.githubusercontent.com/assets/12450298/12650158/9c0df796-c5d9-11e5-91da-dc4f45d22c98.png">

[2016-01-28 16:19] nelsonic commented on #32
could we just use **_Pusher**_ https://pusher.com/features to do our WebSockets for us and still remain "**_Serverless**_" ...?
![pusher-features](https://cloud.githubusercontent.com/assets/194400/12650468/e2d15226-c5da-11e5-943c-8c4b725776ff.png)

[2016-01-28 16:25] jackcarlisle commented on #23
<img width="1680" alt="screen shot 2016-01-28 at 16 24 07" src="https://cloud.githubusercontent.com/assets/12450298/12650714/bcb0664e-c5db-11e5-9d08-a2bf2f2c32ff.png">

[2016-01-28 16:26] jackcarlisle commented on #23
<img width="1662" alt="screen shot 2016-01-28 at 16 24 29" src="https://cloud.githubusercontent.com/assets/12450298/12650757/ee4b886e-c5db-11e5-8505-08b3b4bc0958.png">

[2016-01-28 16:58] nikhilaravi commented on #32
@nelsonic interesting!
Do you mean something like  DynamoDB update -> triggers Lambda -> publishes message on Pusher channel -> Client receives message -> repeat
So Lambda function is only run for very short periods.

[2016-01-28 17:15] nikhilaravi commented on #16
@nelsonic found another example of testing on this [repo](https://github.com/adamrneary/adventr-lambda-video/blob/master/test/video-events-test.js) but the context methods only seem to be for synchronous invocation.

[2016-01-28 17:16] nelsonic commented on #32
Yeah... what do you think? we could _try_ it and see what people think.
The cost won't be _that_ much. 10k Concurrent Connections is "_Only_" $499/month.
It sounds like a lot to us but to a company used to spending hundreds of thousands on Hardware & DevOps teams, its a _bargain_....

[2016-01-28 17:16] jackcarlisle commented on #33
@nelsonic I'd quite like to look into this!

[2016-01-28 22:42] #23 closed, assigned to jackcarlisle

[2016-01-28 22:44] nelsonic commented on #16
Yeah, I haven't yet seen anything that looks _elegant_ for testing Lambda functions ... we might be _forced_ to come up with something _better_. :stuck_out_tongue_winking_eye:

[2016-01-28 22:47] nelsonic commented on #33
@jackcarlisle go for it. :+1:

[2016-01-29 00:20] nelsonic opened #37 "Enable CORS for API Gateway Method"
http://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-cors.html

![aws-api-gateway-enable-cors](https://cloud.githubusercontent.com/assets/194400/12949495/0f49e2f8-d000-11e5-91f5-45b22fc434b7.png)

![aws-awpi-gateway-enable-cors-and-replace](https://cloud.githubusercontent.com/assets/194400/12949601/aa98f1e0-d000-11e5-9610-476bbb431b71.png)

![aws-api-gateway-replace-exisiting-values]

[2016-01-29 09:24] #5 closed, assigned to nobody

[2016-01-29 09:25] nikhilaravi commented on #17
Info added in #34

[2016-01-29 09:25] #17 closed, assigned to nikhilaravi

[2016-01-29 09:30] jackcarlisle opened #38 "Integrate S3 upload with existing test gulpfile"

[2016-01-29 13:41] jackcarlisle commented on #38
@nelsonic The gulp file works now - it successfully uploads a function to S3 and deploys it to Lambda.

[2016-01-29 13:43] jackcarlisle opened #39 "Do we need babel seeing as the lab cli uses es6?"

[2016-01-29 14:13] nikhilaravi commented on #16
<img width="1680" alt="screen shot 2016-01-29 at 14 11 16" src="https://cloud.githubusercontent.com/assets/5912647/12677661/75d12846-c692-11e5-878d-990487be9910.png">

[2016-01-29 15:10] nikhilaravi commented on #16
All the repos using the mock-context module
https://github.com/search?p=3&q=aws-lambda-mock-context&type=Code&utf8=%E2%9C%93

@nelsonic If we're using promises should we also use an async test runner like [ava](https://github.com/sindresorhus/ava)?

[2016-01-29 15:25] nikhilaravi opened #41 "Automate the wiring up of a lambda functions to the api gateway"
@benjaminlees 's  question: Is there a way of creating a new lambda function in a repo and automatically creating and connecting up the lambda function with API gateway on the CI tool?

[2016-01-29 15:26] nikhilaravi opened #42 "Should each Lambda function be created in a new repo?"
Any thoughts on how we should organise our lambda functions?

[2016-01-29 15:42] jackcarlisle commented on #38
<img width="1536" alt="screen shot 2016-01-29 at 15 41 48" src="https://cloud.githubusercontent.com/assets/12450298/12679928/e3ee941a-c69e-11e5-9e39-4ea1dcf95fda.png">

[2016-01-29 15:50] jackcarlisle commented on #38
<img width="1679" alt="screen shot 2016-01-29 at 15 50 14" src="https://cloud.githubusercontent.com/assets/12450298/12680122/0be2f64a-c6a0-11e5-91e4-c452adf3e766.png">

[2016-01-29 15:51] jackcarlisle commented on #38
<img width="1652" alt="screen shot 2016-01-29 at 15 50 43" src="https://cloud.githubusercontent.com/assets/12450298/12680144/2241d87a-c6a0-11e5-8e15-2c5fc32e3470.png">

[2016-01-30 13:17] nelsonic commented on #5
@jackcarlisle request ids are not sensitive. only the keys. your screenshots are fine. :+1:

[2016-01-30 13:20] nelsonic commented on #42
@nikhilaravi I would _prefer_ to keep all lambda functions in the _same_ repo so we only need to set-up _one_ CI service. however it _appears_ that the client prefer to split them out into _many_ repos...

[2016-01-30 19:13] nelsonic commented on #16
Can we _simplify_ it...?

[2016-01-30 19:34] nikhilaravi commented on #16
@nelsonic I had a look at the book you sent us and got a few ideas so will have a go at implementing them on Monday :)

[2016-01-30 19:45] nelsonic commented on #16
Sweet! :lollipop:
Meanwhile hope you have a _RESTful_ remainder of your weekend! :+1:

[2016-02-01 10:01] jackcarlisle commented on #33
<img width="1249" alt="screen shot 2016-02-01 at 10 01 21" src="https://cloud.githubusercontent.com/assets/12450298/12714146/cbf87b4a-c8ca-11e5-8e13-feca431afaf9.png">

[2016-02-01 10:08] jackcarlisle commented on #33
<img width="1216" alt="screen shot 2016-02-01 at 10 07 59" src="https://cloud.githubusercontent.com/assets/12450298/12714300/c9a4e152-c8cb-11e5-8c35-370393cef70e.png">

[2016-02-01 10:16] jackcarlisle commented on #33
<img width="1228" alt="screen shot 2016-02-01 at 10 16 09" src="https://cloud.githubusercontent.com/assets/12450298/12714466/db3a51d0-c8cc-11e5-882f-a3b09df203a4.png">

[2016-02-01 10:20] jackcarlisle commented on #33
<img width="1271" alt="screen shot 2016-02-01 at 10 19 52" src="https://cloud.githubusercontent.com/assets/12450298/12714552/5fe19b1e-c8cd-11e5-919a-780c3bb06316.png">

[2016-02-01 10:22] jackcarlisle commented on #33
<img width="1271" alt="screen shot 2016-02-01 at 10 21 35" src="https://cloud.githubusercontent.com/assets/12450298/12714608/9da7b6ea-c8cd-11e5-8b5c-f09f94d3e66a.png">

[2016-02-01 10:32] jackcarlisle commented on #33
<img width="1260" alt="screen shot 2016-02-01 at 10 31 57" src="https://cloud.githubusercontent.com/assets/12450298/12714889/11c25804-c8cf-11e5-8b32-e01f9673b8cf.png">

[2016-02-01 10:34] jackcarlisle commented on #33
<img width="1260" alt="screen shot 2016-02-01 at 10 33 46" src="https://cloud.githubusercontent.com/assets/12450298/12714963/651140f6-c8cf-11e5-87f5-f547605f757a.png">

[2016-02-01 10:35] jackcarlisle commented on #33
<img width="1256" alt="screen shot 2016-02-01 at 10 34 20" src="https://cloud.githubusercontent.com/assets/12450298/12714986/8de42822-c8cf-11e5-9fc8-9aad5ed4b799.png">

[2016-02-01 10:37] jackcarlisle commented on #33
<img width="1251" alt="screen shot 2016-02-01 at 10 36 53" src="https://cloud.githubusercontent.com/assets/12450298/12715013/bcb3bc1c-c8cf-11e5-8fce-37f32546d0b5.png">

[2016-02-01 10:39] jackcarlisle commented on #33
<img width="1049" alt="screen shot 2016-02-01 at 10 38 41" src="https://cloud.githubusercontent.com/assets/12450298/12715051/feeb0bee-c8cf-11e5-9157-b61595ea376d.png">

[2016-02-01 10:40] jackcarlisle commented on #33
<img width="1041" alt="screen shot 2016-02-01 at 10 40 15" src="https://cloud.githubusercontent.com/assets/12450298/12715091/385b678e-c8d0-11e5-8006-1d65487b933e.png">

[2016-02-01 10:42] jackcarlisle commented on #33
<img width="1253" alt="screen shot 2016-02-01 at 10 42 32" src="https://cloud.githubusercontent.com/assets/12450298/12715150/857ad6e4-c8d0-11e5-9688-c6237746e742.png">

[2016-02-01 10:56] nikhilaravi commented on #16
haha! @nelsonic I found another module that mocks the context https://github.com/motdotla/node-lambda/blob/master/lib/main.js#L51-L67

However the values passed into the 'context.succeed', 'context.fail' methods are not passed back to the invoker. I think the only way to do this at the moment seems to be using the mock-context module (which uses promises) or using callbacks.  I have included examp

[2016-02-01 11:17] nikhilaravi commented on #42
@nelsonic okay! I also think it would be nicer to have them in separate repos as they are self contained pieces of code.

[2016-02-01 11:49] jackcarlisle commented on #33
<img width="1269" alt="screen shot 2016-02-01 at 11 48 34" src="https://cloud.githubusercontent.com/assets/12450298/12716616/ceb37a6a-c8d9-11e5-80be-54ebf8b9754d.png">

[2016-02-01 11:59] nelsonic commented on #42
Agree that the Lambda functions are self-contained, however there are _certain_ advantages to a "MonoRepo": https://github.com/babel/babel/blob/master/doc/design/monorepo.md
(_I don't agree with all of them, but some are valid ... e.g a single `.eslint`_)

Given that this _decision_ has been _made_ for us, we can work with it. :wink:

[2016-02-01 12:00] jackcarlisle commented on #33
<img width="982" alt="screen shot 2016-02-01 at 12 00 32" src="https://cloud.githubusercontent.com/assets/12450298/12716846/6d4dcd82-c8db-11e5-9b01-3dccc12d8fa5.png">

[2016-02-01 12:22] jackcarlisle commented on #33
<img width="1266" alt="screen shot 2016-02-01 at 12 22 17" src="https://cloud.githubusercontent.com/assets/12450298/12717241/7e1805bc-c8de-11e5-9c0c-9974a961cef7.png">

[2016-02-01 12:35] nelsonic opened #46 "NPM Dependencies?"
What if we want to use an NPM module in our Lambda Function, how is this done?
A simple example could be to _require_ `request` and make an http request to an open API and log the response...? or we could go _even simpler_ and require a simple module like https://github.com/dwyl/aguid and `console.log` the resulting `uuid`.

see: https://aws.amazon.com/blogs/compute/nodejs-packages-in-lambda/

[2016-02-02 09:10] jackcarlisle commented on #33
<img width="1264" alt="screen shot 2016-02-02 at 09 09 03" src="https://cloud.githubusercontent.com/assets/12450298/12744540/be1404a0-c98c-11e5-8a7b-a0dfb74bc6f1.png">

[2016-02-02 09:17] jackcarlisle commented on #33
<img width="1270" alt="screen shot 2016-02-02 at 09 16 00" src="https://cloud.githubusercontent.com/assets/12450298/12744749/cd30dd9a-c98d-11e5-97ce-217fe7adf74f.png">

[2016-02-02 15:49] nelsonic opened #47 "Add "How to use AWS CLI" section to Readme"
Can we simplify our examples by encouraging people to use the CLI early in the process...?
https://aws.amazon.com/cli/

[2016-02-02 15:55] nelsonic opened #48 "Stage Variables"
What are stage variables and how are they useful?
http://docs.aws.amazon.com/apigateway/latest/developerguide/stage-variables.html

[2016-02-03 12:13] jackcarlisle commented on #47
@nelsonic how early do you think? I was thinking we could give an introduction to the CLI after the basic examples section which would mean that we could simplify _ALOT_ of our subsequent examples

[2016-02-03 14:54] nelsonic commented on #47
Agreed. :+1:
The end-to-end example that I'm (_still_) working on is all Screenshots... but I've realised that it would be _much_ faster with **CLI**... I might write a "Part 2" that uses CLI instead.

[2016-02-03 21:25] nelsonic opened #49 "Rendering React with Amazon Lambda"
https://medium.com/@devknoll/rendering-react-with-amazon-lambda-e4e85a788257

[2016-02-04 10:23] nelsonic opened #50 "How to return specific http response header + status code in a Lambda function"
Is there a way to return a _specific_ http **_response**_ header and status code form a Lambda function.

@jackcarlisle as part of the work you are doing today, please investigate and document this so a _complete_ beginner can understand it. thanks!

[2016-02-04 10:24] nelsonic opened #51 "How to Access HTTP request headers in Lambda function?"
see: http://stackoverflow.com/questions/31372167/how-to-access-http-headers-for-request-to-aws-api-gateway-using-lambda

[2016-02-04 11:13] nelsonic opened #52 "Link to aws-lambda-test-utils with mini example usage"
@nikhilaravi has done a _great_ job of documenting testing AWS Lambda functions in: #45
We need to _expand_ this to show how to use our `aws-lambda-test-utils`
https://github.com/dwyl/aws-lambda-test-utils

[2016-02-04 12:51] jackcarlisle commented on #50
@nelsonic Ok cool I'll do that!

[2016-02-04 16:09] nelsonic opened #54 "Error Logging"
Troubleshooting and Monitoring AWS Lambda Functions with Amazon CloudWatch:
http://docs.aws.amazon.com/lambda/latest/dg/monitoring-functions.html

[2016-02-04 16:55] jackcarlisle commented on #2
![screen shot 2016-02-04 at 14 14 40](https://cloud.githubusercontent.com/assets/12450298/12822470/2854a2be-cb60-11e5-9822-11913fdd98e1.png)

[2016-02-04 16:56] jackcarlisle commented on #2
<img width="1649" alt="screen shot 2016-02-04 at 14 29 04" src="https://cloud.githubusercontent.com/assets/12450298/12822479/2d889d44-cb60-11e5-8c89-9420378d6be6.png">

[2016-02-04 16:56] jackcarlisle commented on #2
<img width="1650" alt="screen shot 2016-02-04 at 14 30 58" src="https://cloud.githubusercontent.com/assets/12450298/12822483/31bfc428-cb60-11e5-81f0-2990ec32ca41.png">

[2016-02-04 16:56] jackcarlisle commented on #2
<img width="1651" alt="screen shot 2016-02-04 at 14 34 41" src="https://cloud.githubusercontent.com/assets/12450298/12822486/35574a98-cb60-11e5-8cd7-2e2f06ab5c41.png">

[2016-02-04 16:56] jackcarlisle commented on #2
<img width="837" alt="screen shot 2016-02-04 at 14 34 50" src="https://cloud.githubusercontent.com/assets/12450298/12822489/39388622-cb60-11e5-900d-bda80d95cd5f.png">

[2016-02-04 16:56] jackcarlisle commented on #2
![screen shot 2016-02-04 at 14 46 09](https://cloud.githubusercontent.com/assets/12450298/12822493/3c00d544-cb60-11e5-9f32-543572f247f0.png)

[2016-02-04 16:56] jackcarlisle commented on #2
![screen shot 2016-02-04 at 14 52 45](https://cloud.githubusercontent.com/assets/12450298/12822495/3ea624c0-cb60-11e5-87e5-4335faa9320a.png)

[2016-02-04 16:56] jackcarlisle commented on #2
![screen shot 2016-02-04 at 14 52 59](https://cloud.githubusercontent.com/assets/12450298/12822502/43a7e9c2-cb60-11e5-8bd6-8fa5a0cf963b.png)

[2016-02-04 16:56] jackcarlisle commented on #2
![screen shot 2016-02-04 at 14 54 29](https://cloud.githubusercontent.com/assets/12450298/12822506/48157dc6-cb60-11e5-9fcf-5206e2c351b7.png)

[2016-02-04 16:56] jackcarlisle commented on #2
![screen shot 2016-02-04 at 14 59 35](https://cloud.githubusercontent.com/assets/12450298/12822510/4c8b6e38-cb60-11e5-80fe-2bc093f7f955.png)

[2016-02-04 16:57] jackcarlisle commented on #2
![screen shot 2016-02-04 at 15 04 36](https://cloud.githubusercontent.com/assets/12450298/12822513/4f450b5c-cb60-11e5-990e-a5d175233442.png)

[2016-02-04 16:57] jackcarlisle commented on #2
![screen shot 2016-02-04 at 15 42 22](https://cloud.githubusercontent.com/assets/12450298/12822517/51ffd138-cb60-11e5-9f97-41442febce66.png)

[2016-02-04 16:57] jackcarlisle commented on #2
![screen shot 2016-02-04 at 15 43 03](https://cloud.githubusercontent.com/assets/12450298/12822528/5bd60a7e-cb60-11e5-9f55-460af2b6132c.png)

[2016-02-04 16:57] jackcarlisle commented on #2
![screen shot 2016-02-04 at 15 58 19](https://cloud.githubusercontent.com/assets/12450298/12822531/5f22124a-cb60-11e5-8297-868c0cd250d2.png)

[2016-02-04 16:57] jackcarlisle commented on #2
![screen shot 2016-02-04 at 15 58 59](https://cloud.githubusercontent.com/assets/12450298/12822535/624c67fe-cb60-11e5-8120-9f74d933994d.png)

[2016-02-04 16:57] jackcarlisle commented on #2
![screen shot 2016-02-04 at 15 59 53](https://cloud.githubusercontent.com/assets/12450298/12822538/67e30e66-cb60-11e5-83e5-7e42b4fcc8c0.png)

[2016-02-04 16:57] jackcarlisle commented on #2
![screen shot 2016-02-04 at 16 00 08](https://cloud.githubusercontent.com/assets/12450298/12822544/6ccb1ca2-cb60-11e5-8d1c-97e8e8224717.png)

[2016-02-04 16:57] jackcarlisle commented on #2
![screen shot 2016-02-04 at 16 00 42](https://cloud.githubusercontent.com/assets/12450298/12822547/70f21056-cb60-11e5-90c8-e2a3fd4aa457.png)

[2016-02-05 14:31] jackcarlisle commented on #33
![screen shot 2016-02-05 at 14 30 28](https://cloud.githubusercontent.com/assets/12450298/12849024/2d7ae61c-cc15-11e5-8e92-1cefb9cc7bee.png)

[2016-02-05 14:33] jackcarlisle commented on #33
![screen shot 2016-02-05 at 14 27 36](https://cloud.githubusercontent.com/assets/12450298/12849056/5e7c7082-cc15-11e5-87cc-51d921af1bd7.png)

[2016-02-05 14:45] jackcarlisle commented on #33
![screen shot 2016-02-05 at 14 40 20](https://cloud.githubusercontent.com/assets/12450298/12849342/1d95f8ca-cc17-11e5-894b-3896f83d3f2f.png)

[2016-02-05 14:51] jackcarlisle commented on #33
![screen shot 2016-02-05 at 14 41 29](https://cloud.githubusercontent.com/assets/12450298/12849531/f5d2f0ee-cc17-11e5-8162-cde17cdab2dc.png)

[2016-02-05 14:55] jackcarlisle commented on #33
![screen shot 2016-02-05 at 14 54 23](https://cloud.githubusercontent.com/assets/12450298/12849623/87651974-cc18-11e5-8e88-ebf4f2b3c39d.png)

[2016-02-05 14:57] jackcarlisle commented on #33
![screen shot 2016-02-05 at 14 54 50](https://cloud.githubusercontent.com/assets/12450298/12849673/cf1cf82c-cc18-11e5-8c8c-edac7bc0d39d.png)

[2016-02-05 15:05] jackcarlisle commented on #33
![screen shot 2016-02-05 at 15 01 11](https://cloud.githubusercontent.com/assets/12450298/12849902/ebfa3602-cc19-11e5-92f6-ffa21320fd20.png)

[2016-02-06 04:43] nelsonic opened #57 "Migrate to GitBook?"
@nikhilaravi, @jackcarlisle & @benjaminlees
what are your thoughts on migrating this collection of Readmes to a GitBook with a bit more organisation
and publishing it on Amazon Kindle as co-authors...? :stuck_out_tongue_winking_eye:

[2016-02-06 09:22] iteles commented on #57
We were _just_ talking about this today... Our first authors for 'dwyl publishing'!! 😦👏

[2016-02-06 13:22] jackcarlisle commented on #57
@nelsonic @iteles very keen to start doing this!

[2016-02-06 21:33] nelsonic opened #58 "Extend Simple Note Taking Example?"
Possible Ideas include:
- add testing and CI to the example
- deployment with CLI https://aws.amazon.com/cli/ instead of _manual_ approach
- authentication with AWS Cognito: https://aws.amazon.com/cognito/
- ... ?

[2016-02-09 20:39] nelsonic opened #60 "Should API Gateway endpoints be CamelCase or lowercase?"
What do people think about this?
See discussion: http://stackoverflow.com/questions/778203/are-there-any-naming-convention-guidelines-for-rest-apis
I have an _opinion_... but I want to hear _your_ thoughts...

[2016-02-09 22:53] nelsonic opened #61 "Amazon Lambda function Naming Conventions?"
The convention in _Serverless_ appears to be to start Lambda function names with a Capital letter and then CammelCase after that ... see: https://github.com/serverless/serverless/tree/master/lib
 ... this feels wrong to me ...

what do others think?

[2016-02-09 22:58] nelsonic opened #62 "Deploy your API Gateway"
Steps to deploy your API Gateway API for use in a Web App

![aws-api-gateway-deploy-api](https://cloud.githubusercontent.com/assets/194400/12947112/1e151550-cff1-11e5-832c-b439cb33d3eb.png)

![aws-api-gateway-deploy-prod](https://cloud.githubusercontent.com/assets/194400/12950590/d78c21fe-d005-11e5-96ee-578f53bfc9f0.png)

![aws-api-gateway-deploy-confirm](https://cloud.githubusercontent.com/assets

[2016-02-10 23:00] nelsonic opened #63 "Codeship Project setup by one person in org is not automatically available to other *Owners* in GitHub Org"
When I attempt to access one of the builds on Codeship by clicking on one of the "_crosses_" on this list of pull requests: https://github.com/dwyl/learn-aws-lambda/pulls?q=is%3Apr I am taken to an error page informing me that I don't have access to the project.

Raised the issue with codeship: see: https://github.com/codeship/documentation/issues/334

@jackcarlisle can you please help me get to t

[2016-02-11 11:27] nelsonic commented on #63
Hi @jackcarlisle
Can you please confirm if you have added me to the CodeShip project for this repo?
When I attempt to visit: https://codeship.com/projects/130679/builds/11910719
I get error message:
![codeship-access-denied](https://cloud.githubusercontent.com/assets/194400/12975298/6f3592b8-d0b2-11e5-8c1d-47520061ff1d.png)

[2016-02-11 18:13] nelsonic commented on #63
Once JaySee _invited_ me to the project on Codeship:
![codeship-added-email](https://cloud.githubusercontent.com/assets/194400/12985503/f135ba58-d0ea-11e5-92bb-0fe4a524529a.png)

I was able to see the builds:
![codeship-added-to-project](https://cloud.githubusercontent.com/assets/194400/12985515/fccf1ce2-d0ea-11e5-95c5-7a8f98375914.png)

I still think that CodeShip should be _smart_ enough to real

[2016-02-11 18:13] #63 closed, assigned to jackcarlisle

[2016-02-11 19:14] nelsonic opened #64 "Codeship Tests Fail because package.json was deleted ..."
our `package.json` file was (_accidentally_?) deleted in: https://github.com/dwyl/learn-aws-lambda/commit/ff9d15ad6d8335e11065521870e3ae55a5f9bb5a

I'm partly to _shame_ for merging the PR: https://github.com/dwyl/learn-aws-lambda/pull/56/files
But in my defence I thought it was because serverless was handling its dependencies a diff way...

[2016-02-11 19:16] nelsonic commented on #64
Solution:

[code]

see: http://stackoverflow.com/questions/953481/find-and-restore-a-deleted-file-in-a-git-repository

[2016-02-11 21:32] nelsonic opened #65 "Tests fail because Lab requires ES6 ..."
Even though the tests pass fine on our local machine(s):

![dwyl-learn-aws-lambda-tests-pass-locally](https://cloud.githubusercontent.com/assets/194400/12991472/530cb922-d107-11e5-8f4c-e23271a7b6cf.png)

They fail on CodeShip because Lab uses **ES6**:

![dwyl-learn-aws-lambda-build-failing](https://cloud.githubusercontent.com/assets/194400/12991364/dd81dda4-d106-11e5-85a8-9e983e9f4a37.png)

Lambda

[2016-02-11 21:48] nelsonic commented on #65
Downgrading to `lab@6.0.0` and `code@1.5.0` means that we can run the tests on `node@0.10.36` and they pass:
![learn-lambda-tests-pass-with-node-0 10 36-old-lab](https://cloud.githubusercontent.com/assets/194400/12991831/094b0d14-d109-11e5-9508-b6839eabda8e.png)

[2016-02-11 21:53] nelsonic commented on #65
Tests still failing (_even though they pass on localhost...!_)
![learn-lambda-tests-fail](https://cloud.githubusercontent.com/assets/194400/12992020/e34fe930-d109-11e5-8329-90663546aa1c.png)

[2016-02-11 21:55] nelsonic commented on #65
Finally! (_test pass_!)
![learn-lambda-tests-pass](https://cloud.githubusercontent.com/assets/194400/12992068/395f6800-d10a-11e5-8c11-8bd207d261f7.png)

[2016-02-12 14:22] #64 closed, assigned to nelsonic

[2016-02-12 14:22] #65 closed, assigned to nelsonic

[2016-02-12 22:25] jackcarlisle commented on #60
@nelsonic I think that they should be lower case separated with dashes. There was a good point made in that stackoverflow question about urls not being case sensitive so I think it would be more readable with dashes as opposed to camel case. What's your opinion on it?

[2016-02-13 09:09] nelsonic opened #66 "What is an AWS IAM Role and why do I need one?"
It's worth having a section explaining this early on so we don't _Assume_ any prior knowledge...

[2016-02-16 11:26] nelsonic opened #67 "Experiment: should we use Lodash in Lambda Functions?"
JSPerf suggests that _lodash_ `_.map` is faster than _native_ `Array.map` https://jsperf.com/native-map-vs-lodash-map but is there an _overhead_ in loading _lodash_ for a _single_ execution?
is it enough to _offset_ the Performance benefits of the module?

[2016-02-24 20:35] nelsonic commented on #57
The good news is: nobody is writing a book on AWS Lambda yet:
![gitbook-4-books-on-lambda](https://cloud.githubusercontent.com/assets/194400/13300028/174cb75a-db36-11e5-80ff-1783faecd5d1.png)
(_or at least not publicly_...)

[2016-03-01 17:27] jackcarlisle commented on #57
Awesome! When/how should we begin to write it?

[2016-03-03 09:37] nelsonic opened #68 "How to Invoke an AWS.Lambda function from within another lambda function?"
@hyprstack asked the question on StackOverflow: http://stackoverflow.com/questions/35754766/nodejs-invoke-an-aws-lambda-function-from-within-another-lambda-function
its our job to reply! :rainbow:

[2016-03-03 15:13] nikhilaravi commented on #57
@nelsonic @jackcarlisle @iteles I would be keen! Shall we plan it sometime in the next few weeks...?

[2016-03-04 11:34] nelsonic commented on #68
![lambda invoke](https://cloud.githubusercontent.com/assets/194400/13526240/ac778494-e1fe-11e5-8462-816a0b85ed3d.jpg)

[2016-03-04 12:09] nelsonic commented on #68
![lambda-role-for-intra-lambda-execution](https://cloud.githubusercontent.com/assets/194400/13526641/15a146c4-e201-11e5-88c1-c70c9eda2bfb.png)

![lambda invoke-lambda_a-execution-result](https://cloud.githubusercontent.com/assets/194400/13526744/ec22a062-e201-11e5-8c7b-6bea3b437bd4.png)

[2016-03-04 12:17] hyprstack commented on #68
Awesome! Thanks guys! AWS configs/permissions at their best....once again!

On Fri, 4 Mar 2016 at 12:09 Nelson notifications@github.com wrote:

[2016-03-04 12:19] nelsonic commented on #68
@hyprstack see: http://stackoverflow.com/questions/35754766/nodejs-invoke-an-aws-lambda-function-from-within-another-lambda-function/35795883#35795883
Let us know if you need any elaboration on the answer. :+1:

[2016-03-04 12:23] nelsonic commented on #68
Closing. :white_check_mark:

[2016-03-04 12:23] #68 closed, assigned to nobody

[2016-03-16 14:44] nelsonic opened #70 "LambdAuth - Auth using AWS Lambda, Cognito & DynamoDB"
Worth reading:
- https://danilop.net/aws/2015/05/17/lambdauth/
- https://github.com/danilop/LambdAuth

[2016-03-21 15:04] nelsonic opened #71 "Understanding Container Reuse in AWS Lambda"
https://aws.amazon.com/blogs/compute/container-reuse-in-lambda/
I'm trying to take _advantage_ of container reuse to reduce latency...
will post my findings shortly.

[2016-04-07 18:37] nelsonic opened #72 "Update dynamodb examples to use the new Document Client"
Should we update our examples to use the Document Client?
http://blogs.aws.amazon.com/javascript/post/Tx1OVH5LUZAFC6T/Announcing-the-Amazon-DynamoDB-Document-Client-in-the-AWS-SDK-for-JavaScript

[2016-04-15 14:57] nelsonic opened #73 "Bulk Import/Export of Data from DynamoDB"
While trying to _export_ data from DynamoDB I found:
http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-importexport-ddb.html
http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-importexport-ddb-part2.html

[2016-04-26 17:08] nelsonic opened #74 "can we draw a graph of resource usage (thus cost) and execution time?"
Comparison of resources allocated to lambda:

![geo-indexer-128mb](https://cloud.githubusercontent.com/assets/194400/14827279/7f8262d8-0bd9-11e6-87d5-16e004655792.png)
![geo-indexer-512mb](https://cloud.githubusercontent.com/assets/194400/14827280/7f861ad6-0bd9-11e6-8e08-7f860c5e5e78.png)
![geo-indexer-1500mb](https://cloud.githubusercontent.com/assets/194400/14827278/7f55cd4a-0bd9-11e6-84cc-20c93

[2016-04-26 17:38] nelsonic opened #75 "How to increase the Concurrent Lambda Invocations Limit for your AWS Account"
![aws-lambda-limits-increase-request](https://cloud.githubusercontent.com/assets/194400/14827968/bae71596-0bdc-11e6-9983-858ff22c0e38.png)
![aws-lambda-limits-request-sorted](https://cloud.githubusercontent.com/assets/194400/14827969/bb5fe2c8-0bdc-11e6-8647-36028794c002.png)

[2016-04-27 11:11] nelsonic opened #76 "How to pass application/x-www-form-urlencoded data through API Gateway to Lambda"
I'm trying to allow an HTML Form to be submitted (_without any JS XHR/Ajax_)
and it appears to be quite tedious in API Gateway ...

http://stackoverflow.com/questions/32057053/how-to-pass-a-params-from-post-to-aws-lambda-from-amazon-api-gateway
which lead to: https://forums.aws.amazon.com/thread.jspa?messageID=673012

[2016-04-30 18:13] nelsonic opened #77 "How to *programatically* enable CORS for your API Gateway API?"
Enabling [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS) via the Web UI is easy: http://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-cors.html
what we need is a way to do it using the `aws-sdk` so that we can deploy our API with a single command.

[2016-05-14 08:14] nelsonic opened #78 "FAQ: Can I run lambda functions on my localhost or other infrastructure?"
This is a question that keeps coming up so its worth addressing.
Both for the people who want to "**_develop offline**_" (_as if its even possible to develop without StackOverflow...!_) and the people who are concerned with "**_Vendor Lock-in**_" we need to find/build a way of running/deploying AWS Lambda functions on other infrastructure...
Related to #16

[2016-05-15 08:54] nelsonic opened #79 "Link to Download *Exact* Version of Node used on AWS Lambda (4.3.2)"

[2016-08-03 06:32] alex-nishikawa commented on #42
What about when lambdas needs to share code?  Wouldn't the "mono repo" make sense?  Then again, if they are sharing code maybe they should be rolled into one mega lambda that decides the control flow at the beginning of it's execution.

[2016-08-05 19:58] nelsonic commented on #42
@alex-nishikawa for a _recent_ lambda-based project we've worked on all _shared code_ was kept in a node module: https://github.com/numo-labs/aws-lambda-helper which meant that the lambda functions could be separate repos... Its a question of whether you think micro-services should be a single project or several separate ones ... ❓

[2016-08-08 14:01] chisNaN commented on #77
Once you have "enabled cors" don't forget to THEN click on "deploy API" again (otherwise it won't work)
But sorry not to reply the initial question(((

[2016-08-08 14:07] chisNaN commented on #51
You should enable MODEL TEMPLATE for your lambda function.
It is locate in the API gateway service then in the section INTEGRATION request apply the default model template available in the drop down menu.

[2016-08-08 14:15] chisNaN commented on #70
If anyone can be interested in using lambda to make authentication...

I have made recently a project (located on a private github repo) that provides the possibility to make a "lite" authentication between two s3 buckets using the Google Drive API and AWS lambda.
(These are excerpts of the README)

One must login to a first s3 endpoint login.bucket.com using valid credentials existing in the rela

[2016-08-08 20:53] zbuckholz opened #80 "Cloudwatch and Lambda Region Specific"
I came across this great documentation while searching for a recent problem I encountered. I hope you can update the documentation with a solution.

I have deployed a lambda function in us-west-2 to monitor cloudwatch for ec2 power changes, which then updates Route53. Today I attempted to utilize us-west-1 and noticed the lambda function in us-west-2 doesn't have access to cloudwatch events in us-

[2016-08-08 21:40] nelsonic commented on #80
@zbuckholz yeah, this is a bit of an oversight on AWS's part. :-(

[2016-08-08 22:54] zbuckholz commented on #80
I have a ticket opened, if they provide a solution or work around I'll share the knowledge. Thanks

[2016-08-10 09:07] Jbarget commented on #79
@nelsonic could you explain what you mean in the repo about the node version:

While i thought the minimum node version lambda supports is 4.3.2?

hope you're all good!

[2016-08-23 10:34] nelsonic commented on #79
@Jbarget when we _started_ writing this tutorial the _only_ version of Node.js available on AWS Lambda was `0.10.38` ... then in April they released `4.3`

We have not yet _updated_ this tutorial to reflect that...
(_apologies for any confusion caused..._)

I'm well. how are you, sir? using Lambda for a project? 😉

[2016-09-04 20:44] Jbarget commented on #79
im real good :) yeh we're using Lambda for image upload with [`imagemagik`](https://www.npmjs.com/package/aws-lambda-image). A real nice introduction to it all

[2016-09-04 20:48] nelsonic commented on #79
@Jbarget you _say_ you're using Lambda for image uploads ...
not on GitHub you aren't...  they got you writing closed-source code...? 😢

[2016-09-04 20:55] Jbarget commented on #79
am i correct in thinking that now due to `4.3.2` being supported, theoretically the tests would not need to be run through babel?

https://github.com/dwyl/learn-aws-lambda/blame/master/README.md#L858

[2016-09-04 20:56] Jbarget commented on #79
indeed private repo 😢

[2016-09-04 22:27] nelsonic commented on #79
@Jbarget it really _depends_ if the people _writing_ the tests are using _**ALL**_ the _Shiny New Toys_ or just the ES2015 features that _are_ available in Node `4.3.2` ...

[2016-09-05 09:15] nelsonic commented on #60
@jackcarlisle agree. 👍
Let's add this as a _recommendation_ in the Readme.

[2016-09-05 09:16] nelsonic commented on #73
We re no longer using DynamoDB due to its silly pricing for (read/write) _capacity_

[2016-09-05 09:16] #73 closed, assigned to nobody

[2016-09-05 09:17] nelsonic commented on #46
This is a _question/answer_ that we need to add to our FAQ section in the README...

[2016-09-05 09:18] nelsonic commented on #49
Riot is _much_ easier because the ("_Virtual_") DOM is included in the `riot` npm module so rendering is _easy_ see: https://github.com/dwyl/hapi-riot/blob/2d0473611a4d478acedfcce69220efb0bfed2065/lib/index.js#L51

[2016-09-05 09:43] Jbarget commented on #79
so we're my changes _correct_?

[2016-09-05 10:35] nelsonic commented on #2
@jackcarlisle can you share a _link_ to your findings so we can close this issue? 👍

[2016-09-05 10:52] jackcarlisle commented on #2
[Serverless Tutorial](https://github.com/dwyl/learn-aws-lambda/blob/master/README.md#the-serverless-framework-previously-known-as-jaws)

[2016-09-05 11:03] jackcarlisle commented on #33
[README Tutorial Link](https://github.com/dwyl/learn-aws-lambda/blob/8fa666fd71481e64bb46ecf363f3fdbaa5677d95/README.md#create-an-api-with-getpost-methods-that-uses-lambda-functions-to-retrieveupdate-records-from-a-dynamodb-table-1)

[2016-09-05 11:04] #33 closed, assigned to jackcarlisle

[2016-09-05 11:06] #2 closed, assigned to jackcarlisle

[2016-09-05 11:22] jackcarlisle commented on #50
Currently http response headers can only be configured statically which means that custom headers aren't available yet. [link to discussion](https://forums.aws.amazon.com/thread.jspa?threadID=203889)

[2016-09-05 11:25] nelsonic commented on #1
see: https://github.com/dwyl/learn-aws-lambda/tree/master/examples

[2016-09-05 11:25] #1 closed, assigned to nobody

[2016-09-05 11:33] jackcarlisle commented on #50
Custom headers can be added by using the mapping syntax as follows:

`"method.request.body.field"` or `"integration.response.body.field"` where 'field' is replaced with a JSON Path expression that you want to return.

[See discussion](https://forums.aws.amazon.com/thread.jspa?threadID=203889)

[2016-09-05 15:27] nelsonic commented on #38
@jackcarlisle what are your thoughts on including a section on [`dpl`](https://github.com/dwyl/aws-lambda-deploy) ...?

[2016-09-05 15:37] jackcarlisle commented on #38
@nelsonic sounds good! I'll add it to the backlog

[2016-09-05 15:47] jackcarlisle opened #83 "Add information on the callback parameter for node v4.3"
Add an example for using the callback parameter instead of using context.succeed to terminate the lambda function.

[2016-09-08 08:58] nelsonic opened #84 "devDependencies (woefully) out-of-date"
https://david-dm.org/dwyl/learn-aws-lambda?type=dev [![devDependencies Status](https://david-dm.org/dwyl/learn-aws-lambda/dev-status.svg)](https://david-dm.org/dwyl/learn-aws-lambda?type=dev)
![learn-aws-lambda-devdependencies-out-of-date](https://cloud.githubusercontent.com/assets/194400/18343271/9847e758-75aa-11e6-98e5-1c6d4211031d.png)

[2016-09-08 09:08] #84 closed, assigned to nelsonic

[2016-09-08 09:29] #83 closed, assigned to jackcarlisle

[2016-09-09 03:38] LamourBt opened #86 "API Gateway Body Mapping"
So I hook up everything right API Gateway with the Lambda + DynamoDB, when I test the Lambda function everything works since I am able to save and retrieve from Dynamo. From Api Gateway When I test it, I do get 200 OK but the body is still null and the data is not saved.

does anyone has a template for the body mapping?

[2016-09-10 03:19] jyothri opened #87 "Cannot find 'DynamoDB event stream role'"
I was following the guide and at this step

_In the 'Lambda function handler and role' section, select the 'DynamoDB event stream role' option. This will open a new window to create an Identity and Access Management Role (IAM). Click the blue 'Allow' button to enable the creation of the role. This is necessary to enable permission for DynamoDB to invoke your Lambda function_

However I don't see t

[2016-09-11 23:06] here commented on #51
This worked for me: https://kennbrodhagen.net/2015/12/02/how-to-access-http-headers-using-aws-api-gateway-and-lambda/

Be sure to re-deploy the API Gateway with the new model setup

[2016-10-19 11:13] SimonLab opened #88 "Lambda as cron process?"
Lambda functions are most of the time trigger by an event, however sometimes we want the function to execute at a regular time. For that aws lambda provide a fixed rate option or you can also execute the function depending on a cron expression:
- http://docs.aws.amazon.com/lambda/latest/dg/with-scheduled-events.html
  -http://docs.aws.amazon.com/lambda/latest/dg/tutorial-scheduled-events-schedule-

[2016-11-09 14:45] nbibin001 opened #89 "Lambda Function to Connect to AWS IoT and Publish MQTT Messages"
Hi I was trying to develop a lambda function which will connect to the AWS thing and publish an MQTT message, I want to receive these published messages on a raspberry Pi which is connected to the thing as well, and subscribed to the same topic. I managed to create the thing, certificate and connect to it. But the lambda function seems to not send the MQTT message. I am attaching my sample code he

[2016-11-24 14:46] nelsonic opened #90 "Environment Variable Support"
http://docs.aws.amazon.com/lambda/latest/dg/env_variables.html (_finally_!)

[2017-01-03 18:29] 4thAce commented on #62
They changed that first screen by adding a level
<img width="609" alt="screen shot 2017-01-03 at 10 26 03 am" src="https://cloud.githubusercontent.com/assets/1991976/21618388/8711e9a6-d19f-11e6-973a-7e87e573947e.png">

[2017-01-04 23:17] nelsonic commented on #62
@4thAce if you have time, would you mind sending us a quick pull request to update the image? (_please/thanks!_)

[2017-01-07 18:35] 4thAce commented on #62
Sure, I hope #91 helps you out. Let me know if there's something else you would like me to provide.

[2017-01-26 23:45] nelsonic opened #92 "Add CONTRIBUTING.md File to Repo pointing to github.com/dwyl/contributing"
I **need to know** ***how*** to contribute to the project effectively 💭
**so that** I can start my journey towards **D**oing **W**hat ***I*** **L**ove with my _Life_! ❤️  ✅  😂

Markdown:
[code]

see: https://github.com/dwyl/contributing/blob/master/CONTRIBUTING.md

[2017-01-28 07:34] nelsonic opened #93 "stdlib.com an easy way to deploy to AWS Lambda + API Gateway?"
Keith Horwood of http://stdlib.com/ reached out for feedback.
![image](https://cloud.githubusercontent.com/assets/194400/22394818/aa3d6ee6-e522-11e6-8727-c989b312473a.png)
Since he asked nicely (_and I believe in giving `before` you get..._)
I'm giving him ***One Pomodoro*** of my time. ⌛️ 💸 😉

First impression is: ***Really promising***!
![image](https://cloud.githubusercontent.com/assets/194400/

[2017-01-28 08:39] keithwhor commented on #93
Hey Nelson --- thanks for making this thread for feedback.

I actually want to be clear, we run our own gateway and we don't consider "deploying to Lambda" a core competency. It's something we do, but we think about deploying to Lambda like changing your own brakes --- if it's really "zero-ops", why do I still feel like I need trustworthy mechanics? (serverless, apex, claudia, etc.) We, in a sense

[2017-01-28 08:42] keithwhor commented on #93
Also, if you wanna check out a recent article we wrote about massively parallel DNA sequence alignment on StdLib, here it is :) (I dropped out of an MS in Biochemistry to run my first startup, hence the little bit of specialization in the space):

https://hackernoon.com/using-server-less-architecture-to-massively-parallelize-dna-sequence-alignment-via-stdlib-and-343dd2d5aebf#.p0my37b7i

[2017-01-28 12:03] nelsonic commented on #93
@keithwhor I'm _really_ excited for what you & your team are building! I can see from the commit history that you have made a _monumental_ effort over the last few months and if you continue your momentum it will be an _amazing_ product! I will fire up a VM later and install your CLI _globally_ and give it a shot. The fact that you replied on GitHub gives me a _lot_ of _faith_ that you aren't some

[2017-01-28 17:29] keithwhor commented on #93
I promise that it will be the easiest way you've deployed a function as a web API. 🙂

Expect pricing to be out and solidified soon. I will definitely post an update here when we're ready! Thanks so much for the feedback, we live and die by our developers, so I want to make sure everybody's voice is heard.

[2017-01-30 10:28] jyenes commented on #42
@nelsonic have you thought about using git submodules?
So you can keep the lambda functions isolated in their own repos, and a parent repo that contains all of them.
makes sense?

[2017-01-30 10:34] nelsonic commented on #42
@jyenes yeah, that would be a _good_ way of managing things. I see the _benefit_ of having separate repos but I think the "_consensus_" in "Serverless" is to have a single repo with many services...

[2017-02-07 14:08] nelsonic commented on #62
We need to ***automate*** the API Gateway setup steps
+ http://docs.aws.amazon.com/apigateway/latest/developerguide/getting-started.html (_manual_)
+ http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/APIGateway.html

relates to: https://github.com/nikhilaravi/serverless-graphql/issues/9

[2017-02-12 19:20] nelsonic commented on #75
no need to keep this open anymore. closing. 👍

[2017-02-12 19:20] #75 closed, assigned to nelsonic

[2017-03-03 03:50] jleach commented on #42
I think multiple repos and submodules organizes them well and tracks changes specific to each function however it seems like more Yack Shaving than a single repo. I'm going to go with a single one with a simple folder structure and see how that works. I'll just spend a few extra characters in commit messages so that the function that was changed is noted in the commit message.

I think many reposi

[2017-03-31 12:01] eslopes commented on #61
Serverless is useless. The lack of stage/version support turn Lambda console a complete mess. Camel is not good as npm does not allow camel (npm init). The way it manages environment is crazy. Think about what would happen if your microservices grows to, say, 500 functions (my case)...now you have 4 environments, so serverless would create 2000 functions (stop stop stop). No, thanks.

I would say

[2017-03-31 12:55] jruts commented on #61
@eslopes I think this means that serverless is just not the right setup for you. There are many testimonials online where serverless _is_ a good solution and provided them a lot of benefits.

Just saying it is useless is  not helping anyone. Maybe you could write a more detailed article as to _why_ it did not make any sense in your situation.

[2017-03-31 21:13] eslopes commented on #61
I would use it if those problems were fixed, but serverless team focus seems to provide multiplatform capabilities. Amazon owns this market and it is accelerating, providing more, and more features on a daily basis. Microsoft? IBM? Really? Gimme a break. I spent 11 years at IBM. It is a black hole of good ideas. Not a single one find its way to the market (and do not start speaking about openwhisk

[2017-07-11 13:19] ZooeyMiller opened #96 "Out of date information on how to access function through API"
The tutorial's section about accessing a Lambda function through an API gateway is out of date. This needs updating.

Right now @finnhodgkin and I are researching how to actually do this (which is what the current time estimate is for), and once we have worked that out and finished running through the tutorial we will work on updating the tutorial (for which we'll add another time estimate).

Poss

[2017-07-11 13:20] finnhodgkin commented on #96
Following this first:
http://docs.aws.amazon.com/apigateway/latest/developerguide/getting-started.html

[2017-07-11 14:01] ZooeyMiller commented on #96
Using the link @finnhodgkin has posted above I have gotten the lambda function running through and API without an API key. Now trying to get it working with an API key. Proving complicated.

[2017-07-11 15:08] ZooeyMiller commented on #96
Got this working! Will write the basic process here and then when we are done going through the tutorial we will start working on a PR to fix the stuff we've found.

process is as follows:

1. make a lamba function (done in prev steps)
2. on that function go to "triggers"
3. Make an API Gateway trigger
4. It will be created with "any" method
5. Delete any by selecting it, clicking "actions" and th

[2017-07-11 15:13] ZooeyMiller commented on #96
Time estimate of 1hr was too short. still needs to be written up to be put into the readme though.

[2017-07-11 15:16] nelsonic commented on #96
@ZooeyMiller yeah, `T1h` was _unlikely_, please add a revised estimate label for the time you _expect_ to spend as per: [dwyl/contributing#revising-a-time-estimate](https://github.com/dwyl/contributing/tree/cc3a47b5b4d1157e35f76c0fd5dcea6c0fad20f1#revising-a-time-estimate) 👍

[2017-07-11 15:19] ZooeyMiller commented on #96
@nelsonic the initial research has now been completed (in around 2 hours) and I imagine the actual update to the readme as it relates directly to this issue will be between 1 and 2 hours so have added a t4h label to encapsulate this total.

[2017-07-12 09:01] ZooeyMiller opened #97 "Add "How to trigger lambda function when an email received through SES""
With regards to https://github.com/dwyl/apprenticeship/issues/13#issuecomment-314486997 we want to add a section to this repo explaining how to trigger a lambda function when an email is received with SES.

[2017-07-12 09:02] finnhodgkin commented on #97
Walkthough: https://aws.amazon.com/blogs/aws/new-receive-and-process-incoming-email-with-amazon-ses/

[2017-07-12 09:03] ZooeyMiller opened #98 "Add "How to save the body of an email to S3""
With regards to dwyl/apprenticeship#13 (comment) we want to add a section to this repo explaining how to save the body of an email to S3 when an email is received in SES.

[2017-07-12 09:30] ZooeyMiller commented on #97
In order to set up SES we need to have a domain to use. I've been meaning to get one for a personal website for a while so am sorting that out through namecheap right now.

[2017-07-12 09:53] ZooeyMiller commented on #97
there has been a problem with namecheap double charging me and not giving me the domain so currently dealing with their support chat to try and get this sorted, as as far as I understand it is a prerequisite for setting up SES.

EDIT: all sorted now

[2017-07-12 10:15] ZooeyMiller commented on #97
Having updated the DNS records on my domain we're now waiting for them to be verified by Amazon which it says can take up to 72hrs, so we pretty much have to wait on that.

[2017-07-12 10:31] finnhodgkin commented on #97
Dropping 'in-progress' and the time estimate until the domain is verified and we can continue to work on this.

[2017-07-12 16:20] finnhodgkin commented on #97
The domain is now verified so we should be able to work on this tomorrow :+1:

[2017-07-13 08:24] ZooeyMiller commented on #97
We're back on this now that AWS have approved the domain.

[2017-07-13 09:21] ZooeyMiller commented on #97
We have now set up a lambda function to be triggered when an email is received via SES, but it is hard to tell if the function is actually running as it currently doesn't do anything meaningful.

As detailed in https://github.com/dwyl/apprenticeship/issues/13#issuecomment-315020866 we are going to get started with #98 as these two issues link together, and if the lambda function being triggered by

[2017-07-13 10:52] ZooeyMiller commented on #98
We've been struggling with "access denied" when trying to upload a text file to our s3 bucket (at the moment we're just trying to upload a string of text to s3, and once we've gotten that down look at uploading the email body).

We got it working by giving all Authenticated AWS users write access to our bucket as detailed here: https://stackoverflow.com/questions/35589641/aws-lambda-function-getti

[2017-07-13 11:06] ZooeyMiller commented on #98
We've been bashing our heads against the wall a bit with the `Access Denied` stuff so thought a break from it was in order, so we're going to work on trying to get the actual email saved to S3, and deal with the permission kerfuffle later when we've had some time to cool off.

[2017-07-13 12:00] ZooeyMiller commented on #98
It turns out that when we recieve emails with SES it hasn't been triggering our lambda function, so we tried to get it to just straight trigger a S3 store of everything about the email (not just the body), which weirdly worked straight away.

We can't work out why it is working to trigger an S3 upload directly but not a lambda function. The internet here is cutting out every 30 seconds so we're go

[2017-07-13 13:22] ZooeyMiller commented on #98
for some reason redoing the SES ruleset, and disabling virus protection made it work. We're wondering if there was something wrong with the initial set up that we didn't notice that we fixed by redoing it?

We're now re-enabling virus protection to see if that actually was the problem.

EDIT: note that there was 1.25 hrs during this time that we were on breaks, so the t4h time estimate still holds

[2017-07-13 13:28] ZooeyMiller commented on #98
Well, we re-enabled virus protection and it still works so... :woman_shrugging:

[2017-08-07 05:11] JAPDD commented on #89
Hi i just took the reference of internet and wants to send the MQTT message to AWS IOT  through a lambda function .
I did in following manner

Step 1. index.js

var awsIot = require('aws-iot-device-sdk');

var device = awsIot.device({
keyPath: 'XXXX.private.key',
certPath: 'XXXX.cert.pem',
caPath: 'root-CA.crt',
clientId: 'XXXX',
host: 'XXXXXspv.iot.ap-northeast-1.amazonaws.com'
    });

device

[2017-09-21 08:45] sarmistha21 commented on #16
Hi @nikhilaravi / @nelsonic  ,
How do I test a lamba when implemented with callbacks and not context? (Node 6.10.0)

Thank you
Sarmistha

[2017-10-31 19:56] nelsonic commented on #89
@nbibin001 have you seen: https://github.com/dwyl/aws-lambda-iot-chat ?

[2017-11-03 15:50] kellyjandrews opened #101 "Update Codeship screenshots and Documentation Link"
Opening an issue to add some new screenshots, and update the README file for the Codeship example.  I will be working on this for you today, and submitting a PR.

[2017-11-03 16:01] kellyjandrews commented on #101
![configure_deploy](https://user-images.githubusercontent.com/5222954/32383445-63162b50-c08e-11e7-8bed-02445e4dcce8.png)
![deploy_pipeline](https://user-images.githubusercontent.com/5222954/32383446-632751aa-c08e-11e7-8f40-297281156e74.png)
![deployment](https://user-images.githubusercontent.com/5222954/32383447-63366f32-c08e-11e7-9d96-df1cfde52633.png)
![green_build](https://user-images.githubuse

[2017-11-03 16:18] #101 closed, assigned to nobody

[2017-11-07 15:44] drac94 commented on #42
Let's say we have 10 lambdas and you only changed one, how would you handle the CI/CD, would you update all the lambdas or how would you know which lambda was changed when merging to a repo so you can isolate the deployment of only that lambda?

[2017-11-07 15:53] jleach commented on #42
I use CloudFormation for deployments. I believe it only deployed a change set. Perhaps you can parse the JSON output from it.

[2017-11-07 17:45] alex-nishikawa commented on #42
@drac94 I think you have to deploy all, because how are you going to handle rollbacks?  Do you want the added complexity of trying to figure out how to rollback individual lambdas, possibly from a few merges back?

[2017-11-07 18:33] drac94 commented on #42
@alex-nishikawa that bring us to the main topic of this thread, if we have each lambda in a repo you can deploy, rollback and version (tag) the lambda in an isolated way, in the other hand, that approach could lead to end having a lot of very basic repos and repeating the jenkins (or whatever tool you use) configuration for each repo.

[2017-11-07 18:55] alex-nishikawa commented on #42
@drac94 For awhile I had many lambdas, then decided to roll them into one.  A single lambda that acts as a micro-service.  Now that API-Gateway allows us to point all endpoints to a single lambda (easily using proxy+), this works nicely for me.  Also, since most of my lambdas required shared code I now only have to include a single library in a single lambda.

[2017-11-28 19:33] QuantumGrizzly commented on #61
@eslopes that's a little harsh on IBM and the challenger cloud providers, but thank you for sharing your perspective. It was interesting to see put it that way.

[2017-11-28 19:45] nelsonic commented on #61
@QuantumGrizzly in fairness to IBM their "OpenWhisk" (_part of "Bluemix"_) is actually pretty good but it's not as easy to use as Lambda and is comparatively _more expensive_ ... 💸

I'd recommend reading this comparison post from our friends at Contino:
https://www.contino.io/insights/why-aws-lambda-stands-out-from-the-competition 💡

I've been working on a reasonably large project (20 devs) using

[2018-01-18 16:54] soundarsurya commented on #89
when i do test my lambda function.....
i get this error
"errorMessage": "Invalid connect options supplied.",
  "errorType": "Error",
  "stackTrace": [
    "Object.Module._extensions..js (module.js:579:10)",
    "Module.load (module.js:487:32)",
    "tryModuleLoad (module.js:446:12)",
    "Function.Module._load (module.js:438:3)"

what it mean? where do i fix this..?? and how
help me to fix this
i

[2018-02-21 13:37] aneeshjose opened #105 "AWS Lambda giving previous value"
I am using AWS lambda and API gateway for my project. I am doing a converter.
I have created the lambda function and API. I am stuck with the problem below
step 1: I have entered the value 1 in get and the page gives the answer 'undefined'.
step 2:I have entered the value 2 in get and the page produce an answer that is meant for value 1.

Please help me fast .
Thank you in advance and sorry for ba

[2018-02-21 18:06] nelsonic commented on #105
"Please help me fast" ...

@aneeshjose you have given insufficient information for us to _begin_ to help you with this.
Also, it's _unrelated_ to the contents of this repository ... i.e. not strictly relevant.

[2018-02-24 09:47] #105 closed, assigned to nobody

[2018-04-05 10:56] nelsonic opened #106 "Node.js 8.10 runtime now available in AWS Lambda"
https://aws.amazon.com/blogs/compute/node-js-8-10-runtime-now-available-in-aws-lambda
we could _consider_ updating our code examples to use "modern JS" ...
there is a _potential_ for "20% performance improvement" ...

[2018-05-24 03:54] SuperSarkar commented on #76
I am also stuck in the same issue. Having a difficult time mapping data coming from an HTML form in "application/x-www-form-urlencoded" content-type to dynamodb.

[2018-05-24 08:59] nelsonic commented on #76
@SuperSarkar if you are "successful" it would be _great_ if you can share the solution. 😉  (_thanks!_)

[2018-05-24 14:38] SuperSarkar commented on #76
Wasted two days. Can't make this happen without involving a lambda function in between. I am giving up. I will use a lambda function.

[2018-05-24 15:33] nelsonic commented on #76
@SuperSarkar fair enough ... 👍

[2018-05-25 04:29] SuperSarkar commented on #76
I finally got the template from [StackOverflow ](http://stackoverflow.com/questions/32057053/how-to-pass-a-params-from-post-to-aws-lambda-from-amazon-api-gateway)working. Here's my integration request mapping template to insert new item into a DynamoDB table from a HTML form:
[code]
There is one major problem though, I am hard-coding the *type* of the value by using "S". It would be awesome if som

[2018-06-27 20:40] prashah7 commented on #42
the problem using monorepo is you are tightly bound to a single language. Lets say you have a feature to reserve a dining table broken down into multiple lambda functions ex:

**What if i want to write 3(EmailLambda) in Python??**

[2018-07-17 14:19] jarrettj commented on #76
+1

[2018-07-18 01:43] rmullins-convene commented on #42
@drac94 I agree that I feel like each lambda should have its own repo. This way each lambda is isolated in its version, deploy, etc. For me, it doesn't make sense that if only 1 lambda was changed... that in CI/CD it would build every lambda, bump the version for every lambda, and - if applicable - apply the deployment strategy on every lambda.

I realize I can rollback a single lambda if the depl

[2018-07-18 10:23] nelsonic commented on #42
@rmullins-convene the approach you describe (_deploying all lambdas as one_) is what we ended up going with in our client project because it was _much_ easier to know which version(s) of each Lambda Function were running. When we attempted to deploy each Lambda function _individually_ it was a _chore_ to debug and only had _minimal_ benefit in terms of "separation" or "isolation" of functions.

Sa

[2018-07-18 11:15] rmullins-convene commented on #42
@nelsonic
Thanks for the response.

Do you use SAM templates for CI/CD?

The latency issue you mentioned can be totally avoided by using a postHook that 'warms up' the new Lambda service (while traffic gets shifted via linear or blue/green deployment methods).

I guess my issue with having a single repo (associated with the API), that includes all the relevant Lambdas... is that - in regards to CI

[2018-07-19 09:01] nelsonic commented on #42
@rmullins-convene while having a **postHook** is a _goo_ suggestion,
sadly, latency in our App could _not_ be avoided by keeping Lambdas "warm". 😞
_Most_ of the latency is due to API Gateway and then "hopping" from one Lambda to another.
Every request we had went through a minimum of 3 lambdas and round-trip response time
was _never_ less than 500ms in "_ideal_" ("_warmed_") conditions. 😢 🐌

We di

[2018-07-19 12:01] geovanisouza92 commented on #42
My 2 cents about your questioning, @nelsonic: It can be resumed as *Observability*, and that's really challenging.

1) About tracing, on AWS there's XRay already available, but you can consider sending your metrics / traces to another service (Prometheus + Jaeger, e.g.)
2) About versioning, if you are running only published versions (as oposed to $LATEST), CloudWatch already logs that version, for

[2018-08-16 12:29] ricardolpd commented on #61
@eslopes So you saying you would rather use AWS-SAM than serverless, serverless is not perfect, but they plugin system is very good, everytime serverless doesnt do something i need, i just build it into a plugin, i suppose that it is not ideal if you are a java dev, but for nodejs, i really couldnt wish more from a free open-source product.
Serverless went from a couple guys in a bedroom doing a c

[2018-08-19 08:50] nelsonic opened #107 "Is serverless insecure?"
http://www.lambdashell.com
![image](https://user-images.githubusercontent.com/194400/44307113-86fcc580-a394-11e8-9e04-b091e90245d6.png)
via/discuss: https://news.ycombinator.com/item?id=17790631

Scrolling down the command history we see:
[code]
DO NOT attempt to run it on your Localhost!
But you can **`view`** the command list in a browser:
RAW:
![image](https://user-images.githubusercontent.com/

[2018-10-24 18:30] nelsonic commented on #106
We are using node 8< for our lambdas. ✅

[2018-10-24 18:30] #106 closed, assigned to nobody

[2018-10-29 15:46] Cleop opened #108 "hello-world fn readme update"
I've been following the hello-world example in the readme and come across a few subtle differences from updates from AWS and so I intend on popping in the changes to help make the instructions easier to follow.

[2018-10-29 15:51] nelsonic commented on #108
@Cleop thanks. yes, the code can use an update to "modern" node.js. 👍

[2018-10-29 16:49] Cleop commented on #108
The default fn now uses `async` and I'm not really sure what this is doing but I ran the tests without it and with it and both pass.

[code]

I'm going to try to find out but would welcome suggestions from anyone who already has an idea.

[2018-10-29 17:57] nelsonic commented on #108
async => `#ModernJS` ... 🙄 (AKA "magic")

[2018-10-29 19:21] markhu commented on #108
This repo was supposed to be about learning AWS Lambda, not NodeJS.
Just saying.

[2018-10-29 19:45] iteles commented on #108
@markhu It very much is! That's why it's a good idea to not have people 'trip up' or come out of the flow of the tutorial because of something like the code in an example. These are meant to _aid_ people's understanding, not throw up tangential questions that take them off topic.

Updating these makes following the tutorial (and learning AWS Lambda) a smoother experience. 👍

[2018-10-29 22:24] markhu opened #111 "MarkDown formatting fixes in README.md file"
PR #110 fixes a few improperly-formatted paragraphs in the Readme file.

For instance some of this text should not be in the fixed-width code block.

![image](https://user-images.githubusercontent.com/239803/47684002-99625f00-db8e-11e8-8e60-62630e924fc0.png)

[2018-10-29 22:36] markhu commented on #108
Great point. In that spirit, I humbly offer issue #111 / PR #110 that fixes numerous distracting markdown formatting mistakes. To make the source code review less onerous, use Diff settings "Split" & "Hide whitespace." Or just compare/review the rendered doc in another tab/window.

[2018-11-12 10:21] frankfarrell commented on #42
I came across this thread randomly, but this is an issue I faced. I wrote a gradle plugin for only deploying modules that have changed in a single repo, may be useful for you (or at least the ideas in it): https://github.com/frankfarrell/blast-radius

[2018-11-29 18:52] nelsonic opened #112 "Elixir/Erlang coming to AWS Lambda via Runtime API! 😮"
https://aws.amazon.com/blogs/aws/new-for-aws-lambda-use-any-programming-language-and-share-common-components

![image](https://user-images.githubusercontent.com/194400/49244493-d7f66e00-f407-11e8-8312-0b4d800d2234.png)

[2019-02-05 19:03] nelsonic opened #113 "Lambda is the worst proprietary vendor lock-in"
Lambda and serverless is one of the worst forms of proprietary lock-in we've ever seen in the history of humanity: https://www.theregister.co.uk/2017/11/06/coreos_kubernetes_v_world/

discussion: https://news.ycombinator.com/item?id=19080875

We _agree_ with this assessment, but we feel that in the _short-term_ AWS Lambda is most _effective_ way of building certain infrequently used (_but high pea

[2019-02-07 18:58] nelsonic opened #114 "AWS Serverless Express?"
Should we consider using AWS Serverless Express
(_the "official" recommended Node.js app framework on top of Lambda + API Gateway_)
+ https://github.com/awslabs/aws-serverless-express
+ https://github.com/awslabs/aws-serverless-express/tree/master/examples/basic-starter

[2019-02-19 13:51] Cleop commented on #108
Closing as this has now been updated and merged 👍

[2019-02-19 13:51] #108 closed, assigned to Cleop

[2019-03-08 03:01] markhu commented on #111
Closes issue after PR #110 was merged.

[2019-03-08 03:01] #111 closed, assigned to nelsonic

[2019-03-13 15:52] cjvegi opened #115 "Elasticsearch-py package modules not detected in lambda"
Hi,

I have a function which uses elasticsearch-py package. I am using cloud9 to create a lambda function where I installed elasticsearch package within the project directory using "pip install elasticsearch -t . "  When I am trying to run the function Lambda(Local), i am receiving the following error.

![image](https://user-images.githubusercontent.com/25781279/54293387-44941380-4586-11e9-995a-4b

[2019-03-13 16:10] #115 closed, assigned to nobody

[2019-03-13 16:11] cjvegi commented on #115
Realized that the package should be one up above.

[2019-04-16 21:15] nelsonic opened #116 "AWS SAM CLI 🐿 for local development and testing of Serverless applications"
+ [ ] investigate https://github.com/awslabs/aws-sam-cli

Via: https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/serverless-sam-cli-using-invoke.html

[2019-05-23 07:44] nelsonic opened #117 "Update UI?"
The UI for AWS Console has been updated in a few places. e.g: The Lambda Landing Page:
![image](https://user-images.githubusercontent.com/194400/58234597-d4003480-7d36-11e9-9636-9006763e0665.png)

Should we go through and update the screenshots in this tutorial to reflect this?

[2019-05-23 13:20] Dana94 commented on #117
I think updating the images would be beneficial. I've had my share of tutorials where I was fumbling through outdated UI images. 😅

[2019-05-24 14:26] emersonmellado commented on #114
Yes. Serverless is awesome!

[2019-06-20 09:17] Catastropha commented on #42
How about if you keep all lambdas in one repo and have separate branches for each function and then have separate pipelines attached to each branch so it's triggered whenever a branch (a lambda function) is updated. Keep master only to merge changes for all functions but will not trigger deployments.

[2019-12-22 09:56] andrejromanov commented on #42
Another one approach is configure your deployment scripts to check if hash of code of every lambda function in single repo is changed. In result, only changed functions will be deployed

[2020-03-24 19:00] phax commented on #51
Which doesn't work for MIME messages when you have a flexible Content-Type as in `Content-Type: multipart/related;    boundary="----=_Part_0_1057468716.1585071599240";    type="application/soap+xml"; charset=UTF-8`, as the model template requires a fixed Content-Type

[2020-04-21 00:46] sjortiz commented on #42
I arrive here looking at how to approach a project structure but I'll go with multiple repos, or a combination of merging a couple of functions into a file in a repo and the rest into another repo.

Why?

simple because you can't use different triggers if all the functions are part of a file.

[2020-05-07 13:42] sachin-source commented on #42
I have one Git repository and with 10 lambdas. And I want CI-CD pipeline for my repository (private).
can anyone suggest the website to do this.
(I have searched in many websites but they're using 1 repository for each lambda)

[2020-05-23 13:03] nelsonic opened #119 "What a typical 100% Serverless Architecture looks like in AWS"
https://medium.com/serverless-transformation/what-a-typical-100-serverless-architecture-looks-like-in-aws-40f252cd0ecb
via: https://news.ycombinator.com/item?id=23274668

Does this look beginner friendly to you? 💭

[2020-05-23 22:38] iteles commented on #119
Woah, spaghetti diagram 🙄

[2020-12-17 16:10] nelsonic commented on #119
Looks like I'll be doing Serverless again. 🎉
Reading list:

- https://medium.com/serverless-transformation/eventbridge-the-key-component-in-serverless-architectures-e7d4e60fca2d
- https://github.com/serverless/serverless
- https://www.npmjs.com/package/aws-lambda-ric
- https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/lambda_function#mode
- https://eu-west-2.console.aws.a

[2022-01-31 21:32] Arhell opened #120 "update readme links"
http=>https

[2022-02-01 23:18] #120 closed, assigned to Arhell

[2022-02-03 14:15] Arhell opened #122 "update links"
http=>https

[2022-02-04 22:54] #122 closed, assigned to Arhell

[2022-04-06 22:26] nelsonic opened #124 "AWS Lambda Function URLs: Built-in HTTPS Endpoints for Single-Function Microservices"
https://aws.amazon.com/blogs/aws/announcing-aws-lambda-function-urls-built-in-https-endpoints-for-single-function-microservices/

# `#finally` !!

[2022-08-13 04:18] neilnmartin commented on #42
It seems there are some assumptions in this thread about deployment pipelines concerning one repo vs. multiple?

If you have all of your lambdas in a single repo, you can still have separate folders and deployment configurations for each one (i.e. using something like Terraform). Depending on your CI/CD tool you could configure your deployment pipeline to accept an argument, for example a specific

[2022-09-06 08:48] maheshsamudra commented on #76
If you are using serverless, there's a middy middleware: https://www.npmjs.com/package/@middy/http-urlencode-body-parser

[2022-11-10 13:38] madyanmalfi commented on #42
@Catastropha

This is exactly what I ended up doing :) .. creating multiple repos is a mess and keeping them in folder just will need to deploy all lambdas every time we update any of them.